@media (min-width: 700px) {
    /**
    *grid-template-columns 2 colunas
    250px e 1 fração que ocupa o resto

    grid-template-rows 3 linhas
    150px
    1 fração
    120 px
    */
    .wrapper {
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 150px 1fr 120px;
        grid-template-areas: "cabecalho cabecalho" "periferico conteudo" "rodape rodape";
        grid-gap: 5px 20px;
    }
    .logo {
        width: 220px;
        float: left;
    }
    .menu-principal {
        float: right;
    }
    .menu-principal>ul>li {
        display: inline-block;
    }
    .content {
        display: flex;
        flex-flow: row wrap;
    }
    .content>.box-noticia {
        width: 30%;
        min-width: 250px;
        flex-grow: 2;
    }
}