<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout Grid</title>
    <link rel="stylesheet" href="style-grid.css">

</head>

<body>

    <div class="wrapper">
        <header>
            <img src="http://source.unsplash.com/random/200x120" alt="" class="logo">
            <nav class="menu-principal">
                <ul>
                    <li>Opção 1</li>
                    <li>Opção 2</li>
                    <li>Opção 3</li>
                    <li>Opção 4</li>
                    <li>Opção 5</li>
                </ul>
            </nav>
        </header>

        <aside>
            <div class="box-lateral">
                <h2>Pesquisa</h2>
                <input type="text"><button>Ok</button>
            </div>
            <div class="box-lateral">
                <h2>Categorias</h2>
                <ul>
                    <li>Categoria 1</li>
                    <li>Categoria 2</li>
                    <li>Categoria 3</li>
                    <li>Categoria 4</li>
                    <li>Categoria 5</li>
                    <li>Categoria 6</li>
                </ul>
            </div>
        </aside>


        <div class="content">
            <div class="box-noticia">
                <h2>Noticia numero 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quos dolorum ad provident nisi velit beatae delectus ex a, aspernatur pariatur magni possimus nemo, sint esse tempore enim mollitia eius sunt quam quo repudiandae? Reprehenderit
                    deleniti dolores perspiciatis repellendus illo numquam omnis minima, consequuntur molestiae voluptate porro at, eaque impedit.</p>
            </div>

            <div class="box-noticia">
                <h2>Noticia numero 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quos dolorum ad provident nisi velit beatae delectus ex a, aspernatur pariatur magni possimus nemo, sint esse tempore enim mollitia eius sunt quam quo repudiandae? Reprehenderit
                    deleniti dolores perspiciatis repellendus illo numquam omnis minima, consequuntur molestiae voluptate porro at, eaque impedit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime assumenda neque corrupti laborum laudantium
                    laboriosam voluptas iste nisi. Magni, repudiandae.</p>
            </div>

            <div class="box-noticia">
                <h2>Noticia numero 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quos dolorum ad provident nisi velit beatae delectus ex a, aspernatur pariatur magni possimus nemo, sint esse tempore enim mollitia eius sunt quam quo repudiandae? Reprehenderit
                    deleniti dolores perspiciatis repellendus illo numquam omnis minima, consequuntur molestiae voluptate porro at, eaque impedit.</p>
            </div>

            <div class="box-noticia">
                <h2>Noticia numero 4</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quos dolorum ad provident nisi velit beatae delectus ex a, aspernatur pariatur magni possimus nemo, sint esse tempore enim mollitia eius sunt quam quo repudiandae? Reprehenderit
                    deleniti dolores perspiciatis repellendus illo numquam omnis minima, consequuntur molestiae voluptate porro at, eaque impedit.</p>
            </div>

            <div class="box-noticia">
                <h2>Noticia numero 5</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quos dolorum ad provident nisi velit beatae delectus ex a, aspernatur pariatur magni possimus nemo, sint esse tempore enim mollitia eius sunt quam quo repudiandae? Reprehenderit
                    deleniti dolores perspiciatis repellendus illo numquam omnis minima, consequuntur molestiae voluptate porro at, eaque impedit.</p>
            </div>
        </div>

    </div>

</body>

</html>